<h1>Welcome to Balance</h1>

<button routerLink="appComponent">Home</button>
<router-outlet>
</router-outlet>
  <!-- <h2 *ngIf="!displayOtherButtons">{{availableBalance}}</h2>
  <h4 *ngIf="!displayOtherButtons">{{lenghofAccountNumber}}</h4>
  <h3 *ngIf="!displayOtherButtons">{{accounttextbox}}</h3>
  <input *ngIf="!displayOtherButtons" type="password" [(ngModel)]='accountNumber' (input)="accountValidation()" (clear)="accountClear()"> 
  [(ngModel)] is for two way data binding and it is included in FormesModule which needs to be included in root module
  <button *ngIf="enableSubmit && !displayOtherButtons " (click)="getBalance()" style="height:50px;width: 100px;margin-top:8%;">Submit</button>
  <button *ngIf="enableClear && !displayOtherButtons " (click)="clearBalance()" style="height:50px;width: 100px;margin-top:0%;">Clear</button>
  <button *ngIf="displayOtherButtons">Withdrawal Transaction</button>
  <button *ngIf="displayOtherButtons">Deposit Transaction</button> -->