<table>
    <tr>
        <td>First Name</td>
        <td>{{FirstName}}</td>
    </tr>
    <tr>
        <td>Second Name</td>
        <td>{{SecondName}}</td>
    </tr>
    <tr *ngIf='ShowDetails'>
        <td>Gender</td>
        <td>{{Gender}}</td>
    </tr>
    <tr *ngIf='myOrg'>
        <td>Organization</td>
        <td>{{myOrg}}</td>
    </tr>

</table>
<button (click)='toggleDetails()'>
    {{ShowDetails? 'Hide':'Show'}} Details
</button>
<employeeName-comp [Name]='FirstName' (OrgEvent)="getOrg($event)" ></employeeName-comp>

<div *ngFor='let employee of employeeDetails'>
    <h1>{{employee.QID}}</h1>
    <h1>{{employee.Name}}</h1>
    <h1>{{employee.Gender}}</h1>
    <h1>{{employee.annualSalary}}</h1> <br>

</div>
